<p><h3>List of all figures</h3></p>

<% @figures.each do |figure| %>
  <% id_string = figure.id.to_s %>
  <% link = '/figures/' + id_string %>
  <a href="<%= link %>">
  <%= figure.name %>
  </a>
  </br>
<% end %>
